@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  /* Paleta de colores */
  --platinum: #E8EBE4;
  --gray: #BEC1BB;
  --blue-bell: #A491D2;
  --soap: #CDC3E6;
  --pale-lavender: #D4DCFF;
  --dark-jungle: #1B1F21;
  --outer-space: #444749;
  --old-silver: #828485;

  /* Font Families */
  --roboto: 'Roboto', sans-serif;
  --opensans: 'Open Sans', sans-serif;
}

body {
  background-color: white;
  font-family: var(--roboto);
}

main {
  display: flex;
}

/* Contact section */

.border {
  border: 1px var(--platinum);
  border-style: solid;
}

.contacts {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15%;
  height: 100vh;
}

.active-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.active-user .user-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 70%;
  gap: 10px;
}

.user-img img {
  width: 40px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info p {
  font-size: small;
  color: var(--old-silver);
}

.active-user .user-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 30%;
  color: var(--old-silver);
  font-size: 20px;
}

.new-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
}

.new-chat button {
  appearance: none;
  border: none;
  width: 10rem;
  height: 3rem;
  background-color: var(--blue-bell);
  color: white;
  font-size: medium;
}

/* Principal section */
.principal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--platinum);
  width: 85%;
  height: 100vh;
}

.principal-section img {
  width: 20rem;
}

.text-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40%;
  padding: 30px;
}

.text-card h1 {
  font-family: var(--opensans);
  font-size: 2.8rem;
}

.text-card p {
  font-family: var(--opensans);
  font-size: 1rem;
  line-height: 1.5rem;
}